nav {
    background: #222222;
}
nav ul {
    padding: none;
    margin: none;
    list-style: none;
    display: flex;
}
nav a {
    color: white;
    display: blocK;
    padding: 10px 20px;
    text-decoration: none;
    font-family: system-ui;
}
nav a:hover {
    background: #131313;
    cursor: pointer;
}